<%- include('../headers/html-header', { title: "Minesweeper"}); -%><%-
include('../nav/navbar', { user: user, showButton: true, pageState: "home"});
-%>
<div class="container-fluid pt-5">
  <div class="row w-100 pt-4 pb-3 px-2">
    <% if (user && user.game) { %>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
          <div class="d-grid">
            <a
              class="btn btn-lg btn-outline-success"
              href="/games/<%= user.game.id %>"
              role="button"
              >Continue Your Previous Game</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2"></div>
      </div>
      <hr />
    </div>
    <% } else if (user && !user.game) { %>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
          <div class="d-grid">
            <a
              class="btn btn-lg btn-outline-primary"
              href="/games/new"
              role="button"
              >+ Create a New Game</a
            >
          </div>
        </div>
        <div class="col-12 col-md-2"></div>
      </div>
      <hr />
    </div>
    <% } %>
    <div class="col-12">
      <% if (games.length <= 0) { %>
      <p class="text-center">
        There are no ongoing games now. Please create one!
      </p>
      <% } else { %> <% games.forEach((game) => { %> <% if (game.type ===
      "practice") { %>
      <div class="mt-3">
        <div class="practice-mode-game-card game-card col-10 p-3 m-auto">
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <span class="square-image-wrapper">
                <span class="square-image circle">
                  <img src="https://avatars.dicebear.com/api/gridy/<%=
                  game.gameState.player1.realName.toLowerCase().split(' ')
                  .join('-').split("'").join('-').concat('-')
                  .concat(game.gameState.player1.id) %>.svg" />
                </span>
              </span>
            </div>
            <p class="ms-3 fs-4 mb-0 text-truncated">
              <strong><%= game.gameState.player1.realName %></strong>
            </p>
          </div>
          <p class="text-center">
            <em>... is practising.</em>
          </p>
          <div class="mt-3 d-flex justify-content-center">
            <p class="mb-0">
              <span class="badge rounded-pill bg-info"
                >Practice Mode Game (1-Player)</span
              >
            </p>
          </div>
          <hr />
          <div class="d-flex justify-content-center">
            <a
              class="
                btn
                <%
                if
                (user
                &&
                user.id
                &&
                user.id
                ===
                game.gameState.player1.id)
                {
                %>btn-success<%
                }
                else
                {
                %>btn-primary<%
                }
                %>
              "
              href="/games/<%= game.id %>"
              role="button"
            >
              <% if (user && user.id && user.id === game.gameState.player1.id) {
              %> Continue Your Game <% } else { %> Spectate Game <% } %>
            </a>
          </div>
        </div>
      </div>
      <% } else { %> It is not practice <% } %> <% }); %> <% } %>
    </div>
  </div>
</div>
<%- include('../footers/html-footer'); -%>
