<%- include('../headers/html-header', { title: title }); -%><%-
include('../nav/navbar', { user: user, showButton: true, pageState:
"currentGame"}); -%>
<span id="gameId" class="d-none"><%= game.id %></span>
<span id="userId" class="d-none"><%= user ? user.id : 0 %></span>
<div class="container-fluid pt-5 pb-5">
  <div class="row w-100 pt-3">
    <div class="col-12 pt-1">
      <div class="row">
        <div class="col-12">
          <p class="mb-0">
            <a href="/"><small>« Back to Home</small></a>
          </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="col-12 pt-1">
      <div class="row">
        <div class="col-6">
          <button
            type="button"
            class="btn btn-info info-button me-3"
            data-bs-toggle="modal"
            data-bs-target="#infoModal"
          >
            <i class="fas fa-question"></i>
          </button>
          <button id="refreshUIButton" type="button" class="btn btn-primary">
            Refresh UI
          </button>
          <div
            class="modal fade"
            id="infoModal"
            tabindex="-1"
            aria-labelledby="infoModal"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Game Rules</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>
                    <strong>Practice Mode (1-Player):</strong> Try to flag 26
                    mines in as few turns as possible!
                  </p>
                  <p>
                    <strong>2-Player Game:</strong> The first to flag 26 mines
                    win!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="forfeitButtonContainer" class="col-6 text-end"></div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div id="gameOverFeedbackCol" class="col-12"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div id="profileWrapper" class="profile-wrapper col-12 col-md-5"></div>
        <div id="msWrapper" class="ms-wrapper col-12 col-md-7"></div>
      </div>
    </div>
  </div>
</div>
<%- include('../footers/html-footer'); -%>
